<ion-view view-title="采购">
    <ion-content class="gray-bg">
            <ion-item ui-sref="tab.buying_request" class="item item-icon-left item-icon-right" style="margin-top: 10px;">
                <i class="icon"><img src="/erp/img/P-1-20.png" alt=""></i>
                请购单
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right">
                <i class="icon"><img src="/erp/img/P-1-05.png" alt=""></i>
                询价单
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right" style="margin-top: 15px;">
                <i class="icon"><img src="/erp/img/P-1-96.png" alt=""></i>
                采购单
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right">
                <i class="icon"><img src="/erp/img/P-1-94.png" alt=""></i>
                采购入库
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right" style="margin-top: 15px;">
                <i class="icon"><img src="/erp/img/P-2-05.png" alt=""></i>
                采购收票
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right">
                <i class="icon"><img src="/erp/img/P-1-89.png" alt=""></i>
                预付款
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right" style="margin-top: 15px;">
                <i class="icon"><img src="/erp/img/P-2-02.png" alt=""></i>
                付款单
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>