 <ion-view view-title="销售">
    <ion-content class="gray-bg">
        <ion-list>
            <ion-item ui-sref="tab.sale_quotation" class="item item-icon-left item-icon-right" style="margin-top: 10px;">
                <i class="icon"><img src="/erp/img/017.png" alt=""></i>
                报价单
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right">
                <i class="icon"><img src="/erp/img/P-1-13.png" alt=""></i>
                销售订单
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right" style="margin-top: 15px;">
                <i class="icon"><img src="/erp/img/P-1-09.png" alt=""></i>
                备货单
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right">
                <i class="icon"><img src="/erp/img/P-1-10.png" alt=""></i>
                销售出库
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right" style="margin-top: 15px;">
                <i class="icon"><img src="/3./img/P-1-26.png" alt=""></i>
                退(换)货
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right">
                <i class="icon"><img src="/erp/img/P-1-27.png" alt=""></i>
                销售开票
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right" style="margin-top: 15px;">
                <i class="icon"><img src="/erp/img/P-2-03.png" alt=""></i>
                预收款
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
            <ion-item href="#/tab/content1/10" class="item item-icon-left item-icon-right">
                <i class="icon"><img src="/erp/img/P-1-89.png" alt=""></i>
                收款
                <i class="icon ion-ios-arrow-right modules"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
