
<ion-view view-title="库存">
    <!-- <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-android-menu" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="openModal()"></button>
    </ion-nav-buttons> -->
    <ion-content class="padding">
        <ion-refresher pulling-text="正在刷新..." on-refresh="vm.doRefresh()"></ion-refresher>
        <div class="list card" ng-repeat="message in vm.messages" >
            <div class="item item-divider item-icon-right">{{message.title}}
                <i class="icon" ng-click="vm.show(message)" ng-class="message.static?'ion-arrow-down-b':'ion-arrow-right-b'"></i></div>
            <div class="item item-body">
                <div>
                    {{message.static?message.content:message.content.substr(0, 40)}}
                </div>
            </div>
        </div>
        <ion-list show-delete="shouldShowDelete">
            <ion-item>
                <ion-delete-button class="ion-minus-circled"></ion-delete-button>
                Hello, 列表项!
            </ion-item>
        </ion-list>
        <ion-toggle ng-model="shouldShowDelete">
            显示删除?
        </ion-toggle>
        <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
        <ion-infinite-scroll ng-if="!vm.moredata" on-infinite="vm.loadMore()" distance="1%" ></ion-infinite-scroll>
    </ion-content>
</ion-view>
