<ion-tabs class="tabs-icon-top tabs-balanced">
    <ion-tab title="首页" ui-sref="tab.index" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
        <ion-nav-view name="indexView"></ion-nav-view>
    </ion-tab>
    <ion-tab title="采购" ui-sref="tab.procure" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline">
        <ion-nav-view name="procureView"></ion-nav-view>
    </ion-tab>
    <ion-tab title="销售" ui-sref="tab.sale" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
        <ion-nav-view name="saleView"></ion-nav-view>
    </ion-tab>
    <ion-tab title="库存" ui-sref="tab.stock" icon-on="ion-ios-arrow-up" icon-off="ion-ios-arrow-down">
        <ion-nav-view name="stockView"></ion-nav-view>
    </ion-tab>
</ion-tabs>